<div class="jumbotron ">
    <div class="row">
        <div class="heading-box">
            <div class="heading">
                <h2 id="jumbotron-heading">{Edit.User}</h2>
            </div>
        </div>
    </div>
    <div class="movie-box">
        <div class="user-info col-lg-6 col-xs-12">
            <h3>User Profile:</h3><br>
            <div class="form-group1">
                <div class="col-lg-5 col-xs-6 key">
                    <span class="parameters"><b>User Name:</b></span><br>
                    <span class="parameters"><b>First Name:</b></span><br>
                    <span class="parameters"><b>Last Name:</b></span><br>
                    <span class="parameters"><b>Email:</b></span><br>
                    <span class="parameters"><b>Role:</b></span><br>
                </div>
                <div class="col-lg-6 col-xs-6 values">
                    example.name <br>
                    Mohan Krishna <br>
                    Gopi Krishna <br>
                    example@example.com<br>
                    Admin <br>
                </div>
            </div>
        </div>
        <div class="user-info col-lg-6 col-xs-12">
            <form class="form-update">
                <h3>Please update User Profile</h3>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>User Name:</b></span>
                            <input type="text" class="form-control" name="name" id="Username"  placeholder="Enter User Name"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>First Name:</b></span>
                            <input type="text" class="form-control" name="name" id="fname"  placeholder="Enter User First Name"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Last Name:</b></span>
                            <input type="text" class="form-control" name="name" id="lname"  placeholder="Enter User Last Name"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Email:</b></span>
                            <input type="email" class="form-control" name="emil" id="emil"  placeholder="Enter User Email"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Role:</b></span>
                            <select class="form-control" name="role">
                                <option selected>Select</option>
                                <option>Admin</option>
                                <option>User</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <label>Your Password to authorize update </label>
                        <div class="input-group">
                            <span class="input-group-addon"><b>Enter Password:</b></span>
                            <input type="password" class="form-control" name="password" id="confirmPass" placeholder="Enter Password" required/>
                        </div>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary" id="2" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
