
<div class="jumbotron ">
    <div class="row">
        <div class="heading-box">
            <div class="heading">
                <h2 id="jumbotron-heading">{Movie.Home}</h2>
            </div>
        </div>
    </div>
    <div class="movie-box col-xs-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>

            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="wrapper">
                        <div class="gallery">
                            <h1>Box Office Hits</h1>
                            <ul>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMTU1ODg2OTU1MV5BMl5BanBnXkFtZTgwMzA5OTg2ODE@._V1_SY1000_SX632_AL_.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BNzU3MTM5M2ItZDVkNy00NjM3LWI2NzUtY2I4N2FhYzI2MmIwXkEyXkFqcGdeQXVyNjc1MzIxNDc@._V1_SY1000_CR0,0,640,1000_AL_.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMjIwNzE5MTgwNl5BMl5BanBnXkFtZTgwNjM4OTA0OTE@._V1_SY1000_CR0,0,675,1000_AL_.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMjIzMzA1OTkzNV5BMl5BanBnXkFtZTgwODE3MjM4NzE@._V1_.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMTUwMTk2ODc1OV5BMl5BanBnXkFtZTgwMzU4MzgzOTE@._V1_SY1000_CR0,0,675,1000_AL_.jpg"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="wrapper">
                        <div class="gallery">
                            <h1>Top Rated Movies</h1>
                            <ul>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SY1000_CR0,0,672,1000_AL_.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMjEyMjcyNDI4MF5BMl5BanBnXkFtZTcwMDA5Mzg3OA@@._V1_.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMjE4MjA1NTAyMV5BMl5BanBnXkFtZTcwNzM1NDQyMQ@@._V1_.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMTkxMTA5OTAzMl5BMl5BanBnXkFtZTgwNjA5MDc3NjE@._V1_SY1000_CR0,0,673,1000_AL_.jpg"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="wrapper">
                        <div class="gallery">
                            <h1>Top Rated TV Series</h1>
                            <ul>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMjM5OTQ1MTY5Nl5BMl5BanBnXkFtZTgwMjM3NzMxODE@._V1_SY1000_CR0,0,674,1000_AL_.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMTQ0ODYzODc0OV5BMl5BanBnXkFtZTgwMDk3OTcyMDE@._V1_SY1000_CR0,0,678,1000_AL_.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMTc5NzgwNDE3N15BMl5BanBnXkFtZTgwNDAxMTY5MTE@._V1._CR51,41,938,1336_SY1000_CR0,0,702,1000_AL_.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BNTA2MTE1NDI5OV5BMl5BanBnXkFtZTcwNzM2MzU3Nw@@._V1_SY1000_CR0,0,808,1000_AL_.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BNDAwMDY0NjA2Ml5BMl5BanBnXkFtZTgwMTA1NTI3NzE@._V1_.jpg"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="wrapper">
                        <div class="gallery">
                            <h1>Popular on IMDB</h1>
                            <ul>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX300.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SX300.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMjIwNTYzMzE1M15BMl5BanBnXkFtZTcwOTE5Mzg3OA@@._V1_SX300.jpg"></li>
                                <li><img src="http://ia.media-imdb.com/images/M/MV5BMTkxMTA5OTAzMl5BMl5BanBnXkFtZTgwNjA5MDc3NjE@._V1_SX300.jpg"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
