<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieFlix Edit Profile</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/editProfile.css" rel="stylesheet">

    <link async href="http://fonts.googleapis.com/css?family=Monoton" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>

    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand night-hotel">MovieFlix</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="navbar-userrole"><a href="#">Signed In as First Name,</a></li>-->
                <li class="dropdown navbar-userrole">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, FirstName<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Sign Out</a></li>
                        <li><a href="#">Edit Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">User Role: Admin</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Add User</a></li>
                        <li><a href="#">Edit User Info</a></li>
                        <li><a href="#">Delete User</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Create Movie</a></li>
                        <li><a href="#">Edit Movie</a></li>
                        <li><a href="#">Delete Movie</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                <li><a href="#">Catalog<span class="sr-only">(current)</span></a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Movie by Title" required>
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- End of Nav -->

<div class="jumbotron ">
    <div class="row">
        <div class="heading-box">
            <div class="heading">
                <h2 id="jumbotron-heading">{User.Profile}</h2>
            </div>
        </div>
    </div>
    <div class="movie-box">
        <div class="user-info col-lg-6 col-xs-12">
            <h3>User Profile:</h3><br>
            <div class="form-group1">
                <div class="col-lg-5 col-xs-6 key">
                    <span class="parameters"><b>First Name:</b></span>
                    <span class="parameters"><b>Last Name:</b></span>
                    <span class="parameters"><b>Email:</b></span><br>
                    <span class="parameters"><b>User Name:</b></span>
                    <span class="parameters"><b>Role:</b></span>
                </div>
                <div class="col-lg-6 col-xs-6 values">
                    Mohan Krishna <br>
                    Gopi Krishna <br>
                    example@example.com <br>
                    example.name <br>
                    Admin <br>
                </div>
            </div>
        </div>
        <div class="user-info col-lg-6 col-xs-12">
            <form class="form-update">
                <h3>Please update your profile</h3>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>First Name:</b></span>
                            <input type="text" class="form-control" name="name" id="fname"  placeholder="Enter your First Name"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Last Name:</b></span>
                            <input type="text" class="form-control" name="name" id="lname"  placeholder="Enter your Last Name"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Email:</b></span>
                            <input type="email" class="form-control" name="emil" id="emil"  placeholder="Enter your Email"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Update Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Old Password:</b></span>
                            <input type="password" class="form-control" name="password" id="oldPass" placeholder="Enter Your Old Password" required/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>New Password:</b></span>
                            <input type="password" class="form-control" name="password" id="newPass" placeholder="Enter Your New Password" required/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Confirm New Password:</b></span>
                            <input type="password" class="form-control" name="password" id="confirmPass" placeholder="Confirm Your New Password" required/>
                        </div>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary" id="2" type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<script src="js/bootstrap.min.js"></script>
<script src="js/docs.min.js"></script>

</body>
</html>