<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Mohan Krishna Gopi Krishna">

    <title>MovieFlix Cover</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/cover.css" rel="stylesheet">

    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

</head>

<body>
    <div class="bg">
    </div>

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h1 class="masthead-brand">MovieFlix</h1>
                        <div class="dropdown">                            
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">Sign In</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" id="ddrop">
                                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3" width="100">
                                    <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon3">
                                    <button type="button" class="btn btn-primary">Sign In</button>
                                    <button type="button" class="btn btn-primary" id="signup">Sign Up</button>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
</body>
</html>
