/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background: url("../Images/montage_small.jpg") no-repeat center center fixed;
    /*background-color: #3c3c3c;*/
    -webkit-background-size: cover;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.bg {
    height: 100%;
    width: 100%;
    background: #0f0f0f no-repeat center center;
    -webkit-background-size: cover;
    opacity: 0.85;
    z-index: 1;
    position: absolute;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    z-index: 2;
    position: relative;
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

.masthead {
    margin-top: -80px;   /* use this to adjust the height of the top bar*/

    margin-bottom: 20px;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ff0002;
    font-weight: 700;
}

.masthead-nav {
    color: #c12e2a;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .inner .btn-group {
        margin-top: 40px;
        margin-bottom: 10px;
        float: right;
        color: black;
    }
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: relative;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 900px;
    }
}

#ddrop {
    width: 230px;
    z-index: 4;
    position: absolute;
}

.dropdown-menu .form-control {
    margin-bottom: 5px;
    margin-left: 5px;
    width: 95%;
}

.form-control1 {
    margin-left: 20px;
    width: 10%;
}

.dropdown-menu button{
    /*margin-top: 5px;*/
    margin-right: 5px;
    float: right;
}

#carousel-example-generic {
    right: 10%;
    width: 120%;
    z-index: 3;
}

.carousel-inner{
    background-color: rgba(8, 9, 6, 0.4);
    height: 450px;
    width: 100%;
}

.item img {
    width: 20%;
    height: 20%;
}

/*carasol gallery */


.wrapper {
    width: 90%;
    margin: 30px auto;
}

div.gallery {
    margin-top: 50px;

}

div.gallery ul {
    list-style-type: none;
    margin-left: 35px;
}

/* animation */
div.gallery ul li, div.gallery li img {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

div.gallery ul li {
    position: relative;
    float: left;
    width: 130px;
    height: 130px;
    margin: 15px;
    padding: 5px;
    z-index: 0;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
div.gallery ul li:hover {
    z-index: 5;
}

/* Image is position nicely under li */
div.gallery ul li img {
    position: absolute;
    left: 0;
    top: 0;
    /*border: 1px solid #dddddd;*/
    padding: 5px;
    width: 120%;
    height: 200%;
    /*background: #f0f0f0;*/

}

div.gallery ul li img:hover {
    width: 200px;
    height: 250%;
    margin-top: -50px;
    margin-left: -130px;
    top: 65%;
    left: 65%;
}

.night-hotel {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 20px;
    border: none;
    font: normal 60px/1 "Monoton", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 0 0 10px rgb(255,255,255) , 0 0 20px rgb(255,255,255) , 0 0 30px rgb(255,255,255) , 0 0 40px rgb(255, 18, 21), 0 0 70px rgb(255,17,119) , 0 0 80px rgb(255,17,119) , 0 0 100px rgb(255,17,119) , 0 0 150px rgb(255,17,1) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.night-hotel:hover {
    text-shadow: 0 0 5px rgb(255,255,255) , 0 0 10px rgb(255,255,255) , 0 0 15px rgb(255,255,255) , 0 0 20px rgb(255,17,119) , 0 0 35px rgb(255,17,119) , 0 0 40px rgb(255,17,119) , 0 0 50px rgb(255,17,119) , 0 0 75px rgb(255,17,119) ;
}