@font-face {
    font-family: broadway-lights;
    src: url("../fonts/Showtime.ttf");
}

body {
    background: url("https://irenehyleung.files.wordpress.com/2012/12/2012-movie-collage31.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 20px;
}

.night-hotel {
    /*margin-top: -10px;*/
    /*margin-bottom: -15px;*/
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /*padding: 20px;*/
    border: none;
    font: normal 45px/1 "Monoton", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 0 0 10px rgb(255,255,255) , 0 0 20px rgb(255,255,255) , 0 0 30px rgb(255,255,255) , 0 0 40px rgb(255, 18, 21), 0 0 70px rgb(255,17,119) , 0 0 80px rgb(255,17,119) , 0 0 100px rgb(255,17,119) , 0 0 150px rgb(255,17,1) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.night-hotel:hover {
    text-shadow: 0 0 5px rgb(255,255,255) , 0 0 10px rgb(255,255,255) , 0 0 15px rgb(255,255,255) , 0 0 20px rgb(255,17,119) , 0 0 35px rgb(255,17,119) , 0 0 40px rgb(255,17,119) , 0 0 50px rgb(255,17,119) , 0 0 75px rgb(255,17,119) ;
}

.navbar-inverse {
    border-radius: 10px;
}

.navbar-brand {
    padding: 0;
    padding-left: 30px;
}

.jumbotron {
    width: auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: groove;
    border-color: #0f0f0f;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    margin-right: 20px;
    position: absolute;
    background-color: #0f0f0f;
    opacity: .97;
}

.heading-box {
    width: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #333333;
}


.heading h2 {
    margin: 5px;
    font-family: broadway-lights;
    color: #ffffff;
    font-size: 35px;
    margin-left: 20px;
}

.movie-info .col-lg-4 img {
    border: solid silver;

}

@media (min-width: 1200px) {

    .heading-box {
        width: 1270px;
    }

    .movie-info .poster img {
        margin: auto;
        display: block;
    }
}

hr.movie-line {
    border-top: 1px solid #cdcdcd;
}

#carousel-example-generic {
    right: 10%;
    width: 120%;
    z-index: 3;
}

.carousel-inner{
    border: 1px solid white;
    background-color: gray;
    height: 500px;
    width: 100%;
    border-radius: 5px;
}

.item img {
    width: 20%;
    height: 20%;
}

/*carasol gallery */


.wrapper {
    width: 90%;
    margin: 30px auto;
}

div.gallery {
    margin-top: 50px;

}

div.gallery ul {
    list-style-type: none;
    margin-left: 100px;
}

/* animation */
div.gallery ul li, div.gallery li img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

div.gallery ul li {
    position: relative;
    float: left;
    width: 130px;
    height: 130px;
    margin: 15px;
    padding: 5px;
    z-index: 0;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
div.gallery ul li:hover {
    z-index: 5;
}

/* Image is position nicely under li */
div.gallery ul li img {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    width: 120%;
    height: 200%;
    /*border: 1px solid black;*/

}

div.gallery ul li img:hover {
    width: 200px;
    height: 230%;
    margin-top: -50px;
    margin-left: -130px;
    top: 65%;
    left: 65%;
}

.movie-box {
    margin-left: 5%;
    padding: 50px;
    width: 90%;
    text-align: center;
}

.gallery h1 {
    font-size: 50px;
    color: white;

}

@media (max-device-width: 500px) {
    .inner {
        float: left;
    }

    #carousel-example-generic {
        width: 115%;
        height: auto;
    }

    .carousel-inner {
        height: auto;
        padding-bottom: 40px;
    }

    div.gallery ul li {
        width: 270px;
        height: 300px;
    }

    div.gallery ul li img {
        left: 75px;
        height: 320px;
        width: 100%;
    }

   div.gallery ul li img:hover {
        width: 300px;
        height: 120%;
        margin-top: 0px;
        margin-left: -105px;
        top: 5%;
        left: 60%;
    }
}