<div class="jumbotron ">
    <div class="row">
        <div class="heading-box">
            <div class="heading">
                <h2 id="jumbotron-heading">{Create.Movie}</h2>
            </div>
        </div>
    </div>

    <div class="">
        <div class="user-info col-lg-5 col-xs-12">
            <h3>Created Movie:</h3><br>
            <div class="form-group1">
                <table>
                    <tr>
                        <td><b>Title</b></td>
                        <td class="values">{{movieCtrl.movieCreated.title}}</td>
                    </tr>
                    <tr>
                        <td><b>Year:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.year}}</td>
                    </tr>
                    <tr>
                        <td><b>Rated:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.rated}}</td>
                    </tr>
                    <tr>
                        <td><b>Released:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.released}}</td>
                    </tr>
                    <tr>
                        <td><b>Runtime:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.runtime}}</td>
                    </tr>
                    <tr>
                        <td><b>Genre:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.genre}}</td>
                    </tr>
                    <tr>
                        <td><b>Director:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.director}}</td>
                    </tr>
                    <tr>
                        <td><b>Writer:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.writer}}</td>
                    </tr>
                    <tr>
                        <td><b>Actors:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.actors}}</td>
                    </tr>
                    <tr>
                        <td><b>Plot:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.plot}}</td>
                    </tr>
                    <tr>
                        <td><b>Language:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.language}}</td>
                    </tr>
                    <tr>
                        <td><b>Country:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.country}}</td>
                    </tr>
                    <tr>
                        <td><b>Awards:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.awards}}</td>
                    </tr>
                    <tr>
                        <td><b>Poster::</b></td>
                        <td class="values"><img ng-src="{{movieCtrl.movieCreated.poster}}" height="200px"></td>
                    </tr>
                    <tr>
                        <td><b>Metascore:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.metascore}}</td>
                    </tr>
                    <tr>
                        <td><b>ImdbRating:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.imdbRating}}</td>
                    </tr>
                    <tr>
                        <td><b>ImdbVotes:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.imdbVotes}}</td>
                    </tr>
                    <tr>
                        <td><b>ImdbID:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.imdbID}}</td>
                    </tr>
                    <tr>
                        <td><b>Type:</b></td>
                        <td class="values">{{movieCtrl.movieCreated.type}}</td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="user-info-form col-lg-4 col-xs-12">
            <form class="form-update" ng-submit="form-update.$setPristine();movieCtrl.createMovie();">
                <h3>Create Movie</h3>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Title</b></span>
                            <input type="text" class="form-control" name="name" id="title"  placeholder="Enter Movie Title" ng-model="movieCtrl.newMovie.title"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Year</b></span>
                            <input type="text" class="form-control" name="name" id="year"  placeholder="Enter Movie Year" ng-model="movieCtrl.newMovie.year"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Rated</b></span>
                            <input type="text" class="form-control" name="name" id="rated"  placeholder="Enter Movie Rated" ng-model="movieCtrl.newMovie.rated"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Released Date</b></span>
                            <input type="date" class="form-control" name="date" id="released"  placeholder="Enter Movie Released Date" ng-model="movieCtrl.newMovie.date"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Runtime</b></span>
                            <input type="text" class="form-control" name="name" id="runtime"  placeholder="Enter Movie Runtime in min" ng-model="movieCtrl.newMovie.runtime"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Genre</b></span>
                            <input type="text" class="form-control" name="name" id="genre"  placeholder="Enter Movie Genre" ng-model="movieCtrl.newMovie.genre"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Director</b></span>
                            <input type="text" class="form-control" name="name" id="director"  placeholder="Enter Movie Director" ng-model="movieCtrl.newMovie.director"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Writer</b></span>
                            <input type="text" class="form-control" name="name" id="writer"  placeholder="Enter Movie Writer" ng-model="movieCtrl.newMovie.writer"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Actors</b></span>
                            <input type="text" class="form-control" name="name" id="actors"  placeholder="Enter Movie Actors" ng-model="movieCtrl.newMovie.actors"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Plot</b></span>
                            <input type="text" class="form-control" name="name" id="plot"  placeholder="Enter Movie Plot" ng-model="movieCtrl.newMovie.plot"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Language</b></span>
                            <input type="text" class="form-control" name="name" id="language"  placeholder="Enter Movie language" ng-model="movieCtrl.newMovie.language"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>country</b></span>
                            <input type="text" class="form-control" name="name" id="country"  placeholder="Enter Movie country" ng-model="movieCtrl.newMovie.country"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>awards</b></span>
                            <input type="text" class="form-control" name="name" id="awards"  placeholder="Enter Movie awards" ng-model="movieCtrl.newMovie.awards"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>poster</b></span>
                            <input type="text" class="form-control" name="name" id="poster"  placeholder="Enter Movie poster url" ng-model="movieCtrl.newMovie.poster"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>metascore</b></span>
                            <input type="text" class="form-control" name="name" id="metascore"  placeholder="Enter Movie metascore" ng-model="movieCtrl.newMovie.metascore"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>imdbRating</b></span>
                            <input type="text" class="form-control" name="name" id="imdbRating"  placeholder="Enter Movie imdbRating" ng-model="movieCtrl.newMovie.imdbRating"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>imdbVotes</b></span>
                            <input type="text" class="form-control" name="name" id="imdbVotes"  placeholder="Enter Movie imdbVotes" ng-model="movieCtrl.newMovie.imdbVotes"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>imdbID</b></span>
                            <input type="text" class="form-control" name="name" id="imdbID"  placeholder="Enter Movie imdbID" ng-model="movieCtrl.newMovie.imdbID"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><b>Type</b></span>
                            <input type="text" class="form-control" name="name" id="type"  placeholder="Enter Movie type" ng-model="movieCtrl.newMovie.type"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <label>Your Password to authorize update </label>
                        <div class="input-group">
                            <span class="input-group-addon"><b>Your Password:</b></span>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your password"/>
                        </div>
                    </div>
                </div>
                <button class="update btn btn-lg btn-primary" id="2" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>